
/** CT60A2411 Olio-ohjelmointi
 *  Harjoitustyö
 *  Tekijät: Kaukanen Miki 0461066
 */


/*UI KOMPONENTTIEN KUSTOMOINTI TÄÄLLÄ*/

#packageInfoField{
    -fx-border-color: radial-gradient(radius 160%, orange, derive(darkorange, -10%), derive(orange, 70%));
    -fx-border-width: 14;
}

.button {
    -fx-text-fill: ghostwhite;
    -fx-font-weight: bold;
    -fx-background-color:           
        darkgoldenrod,
        lightsalmon,
        linear-gradient(darkorange, orange);
    -fx-background-radius: 5;
    -fx-padding: 0 0 5 0;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0;
}

.label {
    -fx-effect: dropshadow(gaussian , darkslategray , 4,0,0,0);
}
