


/** CT60A2411 Olio-ohjelmointi
 *  Harjoitustyö
 *  Tekijät: Kaukanen Miki 0461066
 */

#base {
    -fx-background-color: linear-gradient(darkorange,orange);
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#yesButton {
    -fx-background-color:
        linear-gradient(white, whitesmoke),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 5, 3;
    -fx-background-insets: 0, 2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0 , 0 , 0);
    -fx-text-fill: #395306;
}

#noButton {
    -fx-background-color:
        linear-gradient(white, whitesmoke),
        radial-gradient(center 50% -40%, radius 200%, #ff0033 45%, #e60033 50%);
    -fx-background-radius: 5, 3;
    -fx-background-insets: 0, 2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0 , 0 , 0);
    -fx-text-fill: #395306;
}