

/** CT60A2411 Olio-ohjelmointi
 *  Harjoitustyö
 *  Tekijät: Kaukanen Miki 0461066
 */


/*UI KOMPONENTTIEN KUSTOMOINTI TÄÄLLÄ*/

.root {
    -fx-background-image: url("timo-pakettiautomaatti.jpg");
}

.button {
    -fx-text-fill: ghostwhite;
    -fx-font-weight: 200;
    -fx-background-color: linear-gradient(darkorange, orange);
}

.combo-box {
    -fx-text-fill: ghostwhite;
    -fx-font-weight: 200;
    -fx-background-color: linear-gradient(darkorange, orange);
}
#errorLabel {
    -fx-text-fill: red;
}

#clearButton {
    -fx-background-radius: 20;
    -fx-background-color:
        linear-gradient(red, white),
        radial-gradient(center 50% -40%, radius 200%, red 45%, #cc0033 50%);
    -fx-font-weight: bold;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.4), 2, 0, 0, 0);
}

#infoWindowButton {
    -fx-background-radius: 30;
    -fx-padding: 5 10 5 10;
    -fx-background-color: 
        linear-gradient(darkorange, orange),
        white,
        linear-gradient(darkorange, orange);
    -fx-background-insets: 0,2,4;
    -fx-font-family: "Helvetica";
}

#cancelButton {
    -fx-background-color: 
        #ffcccc,
        linear-gradient(darkorange, orange);
    -fx-background-insets: 0, 0 0 4 4;
}

#sendPackageButton {
    -fx-background-color: 
        #ffcccc,
        linear-gradient(darkorange, orange);
    -fx-background-insets: 0, 0 0 4 4;
}

#breakableCheck .box{
    -fx-background-color: white;
    -fx-border-color: linear-gradient(darkorange, orange);
}

#breakableCheck:selected .mark{
    -fx-background-color: white;
}

#breakableCheck:selected .box{
    -fx-background-color: linear-gradient(darkorange, orange);
}

.radio-button .radio {
    -fx-border-color: linear-gradient(darkorange, orange);
    -fx-border-radius: 20;
    -fx-background-color: white;
}

.radio-button .dot{
    -fx-mark-highlight-color: blue; ;
    -fx-mark-color: blue;
}

#secondaryLabel {
    -fx-text-fill: blue;
}