

/** CT60A2411 Olio-ohjelmointi
 *  Harjoitustyö
 *  Tekijät: Kaukanen Miki 0461066
 */

/*UI KOMPONENTTIEN KUSTOMOINTI TÄÄLLÄ*/


#bottomStackPane {
    -fx-background-color: ghostwhite;
    -fx-border-color: radial-gradient(radius 160%, orange, derive(darkorange, -20%), derive(white, 30%));
    -fx-border-width: 3;
}

.label{
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-font-family: cursive;

}

#textLabel {
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-family: sans-serif;
}

#rectangle{
    -fx-stroke: linear-gradient(darkorange, orange);
    -fx-stroke-width: 2;
    -fx-fill: white; 
}

.button {
    -fx-text-fill: ghostwhite;
    -fx-font-weight: 200;
    -fx-background-color: linear-gradient(darkorange, orange);
}

.combo-box {
    -fx-text-fill: ghostwhite;
    -fx-font-weight: 200;
    -fx-background-color: linear-gradient(darkorange, orange);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: linear-gradient(darkorange, orange);
}

.tab{
    -fx-background-color: white;
    -fx-font-weight: 200;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-background-color: linear-gradient(darkorange, orange);
}

.tab:selected{
    -fx-border-color: blue;
    -fx-border-width: 1,5;
}
    
#deletePathsButton{
    -fx-background-color: 
        darkorange,
        linear-gradient(darkorange, orange);
    -fx-background-insets: 0, 0 0 4 0;
    
}

#packageLogView .list-cell:even{
    -fx-text-fill: black;
    -fx-font-weight:bold;
    -fx-background-color: white;
}

#packageLogView .list-cell:odd {
    -fx-text-fill: black; 
    -fx-font-weight:bold;
    -fx-background-color: #fff4e1;

}

#packageLogView .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

#packageCountLabel{
    -fx-background-color: linear-gradient(darkorange, orange);
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
}
#classCountLabel{
    -fx-background-color: linear-gradient(darkorange, orange);
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
}
